<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dentistappointment.app05">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/doctorimg"
        android:label="Dentist Appointment System"
        android:roundIcon="@drawable/doctorimg"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoctorBookingApp">
        <activity android:name="com.dentistappointment.app05.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.dentistappointment.app05.Register"/>
        <activity android:name="com.dentistappointment.app05.Login"/>
        <activity android:name="com.dentistappointment.app05.OnBoardingActivity"/>
        <activity android:name="com.dentistappointment.app05.Home"/>
        <activity android:name="com.dentistappointment.app05.Appointment"/>
        <activity android:name="com.dentistappointment.app05.Services"/>
        <activity android:name="com.dentistappointment.app05.Notification"/>
        <activity android:name="com.dentistappointment.app05.Doctor"/>
        <activity android:name="com.dentistappointment.app05.SocialMedia"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>